.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.product .pr-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product .pr-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product .pr-img img {
    width: 170px;
}