.navMenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(39, 173, 13, 0.911);
  }
  
  .part {
    display: flex;
    align-items: center;
    color: white;
    margin: 1rem;
  }
  
  .part a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
  
  }
  
  .part .options {
    border: none;
    background-color: rgba(40, 173, 13, 0);
    padding: 0 1.5rem;
  }
  
  .part .options:hover {
    border: none;
    background-color: rgba(40, 173, 13, 0);
    padding: 0 1.5rem;
  }
  
  .borderright {
    border-right: 2px solid white;
  }

  .menu {
    background-color: gray;
  }

  @media (max-width: 400px) {
    .navMenu a {
      padding: 10px;
    }
  }
  
  