footer{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.76)), url(https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmVnZXRhYmxlJTIwY2FydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

footer .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

footer .col p {
    margin: 0;
    padding: 0.5rem;
}

footer .col h3 {
    margin-top: 0;
    padding: 1rem 0;
}

@media only screen and (max-width: 1024px) {
    .col{
        width: 45%;
    }

    footer{
        justify-content: center;
    }
 }

@media only screen and (max-width: 720px) {
   .col{
       width: 80%;
   }
}