*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  border: 2px solid black;
}

.navMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(39, 173, 13, 0.911);
}

.part {
  display: flex;
  align-items: center;
  color: white;
  margin: 1rem;
}

.part a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;

}

.part .options {
  border: none;
  background-color: rgba(39, 173, 13, 0.911);
  padding: 0 1.5rem;
}

.part .options:hover {
  border: none;
  background-color: rgba(39, 173, 13, 0.911);
  padding: 0 1.5rem;
}

.borderright {
  border-right: 2px solid white;
}

.header {
  display: flex;
}
