.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pics img {
    max-height: 200px;
    margin: 20px;
}

@media (max-width: 500px) {
    .pics img {
        height: 100px;
    }
}
