footer{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.76)), url(https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmVnZXRhYmxlJTIwY2FydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 80px;
    align-items: center;
    justify-content: space-around;
}

.col{
    width: 20%;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
    .col{
        width: 45%;
    }

    footer{
        justify-content: center;
    }
 }

@media only screen and (max-width: 720px) {
   .col{
       width: 80%;
   }
}
  

footer > div > h3{
    margin-bottom: 30px;
}

i{
    margin-right: 10px;
}

p{
    padding: 3px;
    font-size: 20sp;
}

span{
    padding: 3px;
}

.logo-img{
    height: 33px;
    object-fit: contain;
    margin-bottom: 15px;
}